TELEGRAM_TOKEN=8919847076:AAGk9w5Bo6merdeJySACbwlkgAsgCC-soD4
BULK_API_BASE=https://exchange-api.bulk.trade/api/v1
ALLOWED_CHAT_ID=
DEFAULT_BUILDER_RECIPIENT=7bSjpMQ1DzrhPJArPzoR5uVYcWJSwCFGXR1TBWrf6Zoe
DEFAULT_BUILDER_FEE_BPS=5
